In [1]:
import pandas as pd

In [2]:
utl = pd.read_csv('utilization.csv')
utl_rate = pd.read_csv('utilization_rate.csv')

utl.shape

(3017, 4)

In [4]:
utl_rate['Time'] = utl['Time']

In [5]:
utl_rate.to_csv('utilization_rate.csv', index=None)

               Time  Total Util Rate  Chameleon Utl Rate  OSG Utl Rate
0     1627795764173             0.00               0.000          0.00
1     1627795765022             5.95               1.190          4.76
2     1627795765269             5.95               1.190          4.76
3     1627795765766             5.58               0.398          5.18
4     1627795766086            13.50               0.730         12.80
...             ...              ...                 ...           ...
3012  1627796728005            99.30              17.900         81.40
3013  1627796728282            99.60              18.200         81.40
3014  1627796728493           100.00              18.600         81.40
3015  1627796728690            99.60              18.200         81.40
3016  1627796728902            99.60              18.200         81.40

[3017 rows x 4 columns]